.list-container-appointment {
  color: var(--fonts-primary-variant, #6e6893);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.list-appointment {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin: auto;
  width: 1200px;
}

.list-title {
  color: #333;
}
