.action {
  display: flex;
  justify-content: space-between;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center; /* căn giữa theo chiều dọc */
  background-color: rgba(0, 0, 0, 0.5); /* một lớp nền mờ */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-header th {
  padding: 10px;
  text-align: left;
  background-color: #f2f2f2;
  border-bottom: 2px solid #e0e0e0;
}

.custom-table td,
.custom-table th {
  border: 1px solid #e0e0e0;
  padding: 10px;
}

.action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.action-button svg {
  width: 20px;
  height: 20px;
}
