/* OrderAppointment.css */

.order-appointment-container {
  padding: 20px;
}

.custom-card {
  width: 300px;
}
.custom-card .ant-card-meta-title {
  font-weight: bold;
}

.custom-card .ant-card-meta-description {
  color: #333;
}
.status-cell-appointment img {
  width: 30px;
  height: 30px;
}
