/* OrderAppointment.css */
.order-appointment-title {
  padding: 20px;
}
.order-appointment-title h1 {
  font-size: xx-large;
}
.order-appointment-container {
  padding: 50px;
}

.status-cell-appointment img {
  width: 30px;
  height: 30px;
}
.pagination-order-appointment {
  display: flex;
  justify-content: center;
}
