@tailwind base;
@tailwind components;
@tailwind utilities;

.listservice-container {
  padding: 3rem;
}
.listservice-container-title {
  text-align: center;
  padding: 1rem;
}
.listservice-container-title-1 {
  font-size: 50px;
  font-weight: 700;
}
