.header-button {
  display: flex;
  flex-direction: row;
}
.header-button-login {
  margin-right: 0.5vw;
}
.header-button-login-action {
  width: 120px;
  height: 40px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  background-color: #ec3216; /* Đổi màu thành cam */
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}

.header-button-login-action:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 1);
}
.header-button-login-action:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/* .button-cancel {
  height: 3vw;

  border: 0;

  line-height: 2.5;

  padding: 0 20px;

  font-size: 1rem;

  text-align: center;

  color: #fff;

  text-shadow: 1px 1px 1px #000;

  border-radius: 10px;

  background-color: rgba(220, 0, 0, 1);

  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );

  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
} */
.button-cancel:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 1);
}
.button-cancel:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.header-button-register-action {
  width: 120px;
  height: 40px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  background-color: #ec3216; /* Đổi màu thành cam */
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  white-space: nowrap; /* Để ngăn chữ xuống dòng */
}

.header-button-register-action:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 1);
}
.header-button-register-action:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
