.drawer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: block;
  background-color: rgb(245, 214, 129);
}
.drawer-user {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  border-bottom: 0.1vw solid black;
}
.drawer-user-avt {
  width: 20%;
  height: auto;
}
.drawer-user-name {
  width: 80%;
  height: auto;
  position: absolute;
  left: 30%;
}
.drawer-detail {
  width: 100%;
  margin-top: 2vw;
}
.menu-item-user {
  height: "3vw";

  width: "100%";

  border: 0;

  line-height: 2.5;

  padding: 0 20px;

  font-size: 1rem;

  text-align: center;

  color: #fff;

  text-shadow: 1px 1px 1px #000;

  border-radius: 10px;

  background-color: rgba(220, 0, 0, 1);

  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );

  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.menu-item-user:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 1);
}
.menu-item-user:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.menu-item-pet {
  height: "3vw";

  width: "100%";

  border: 0;

  line-height: 2.5;

  padding: 0 20px;

  font-size: 1rem;

  text-align: center;

  color: #fff;

  text-shadow: 1px 1px 1px #000;

  border-radius: 10px;

  background-color: rgba(220, 0, 0, 1);

  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );

  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.menu-item-pet:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 1);
}
.menu-item-pet:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
