
.trainerlist-container{
    padding: 3rem;
}

.trainerlist-container-title {
    text-align: center;
    padding: 1rem;
}

.trainerlist-container-content-detail-name-1 {
    font-size: x-large;
    
}

.trainerlist-container-content-detail-name-2 {
    font-size: larger;
    font-weight: bold;
}

.trainerlist-container-title-1 {
    font-size: 50px;
    font-weight: 700;
}

.trainerlist-container-content{
    display: flex;
    justify-content: space-between;
    
    
}


.trainerlist-container-content-detail{
    width: 25%;
    height: 100%;
    display: block;
    text-align: center;
   
    
}

@media (max-width: 800px) {
    .trainerlist-container-content {
      flex-direction: column;
      
    }
    .trainerlist-container-content-detail{
        width: 100%;
        padding-bottom: 2rem;
    }
  }


.trainerlist-container-content-detail-img{
    
    align-items: center;
    width: 100%;
    
}
.trainer-img{
    
    background-position: cover;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.trainerlist-container-content-detail-btn{
    background-color: #ec701d;
    color: white;
    
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px 30px;
    border: 5px;
    border-color: white;
    border-style: solid;
}

.trainerlist-container-content-detail-btn:hover{
    background-color: white;
    color: #ec701d;
    border-color: #ec701d;
    
    
}
