.logo-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  align-items: center; /* Để căn giữa theo chiều dọc */
}

.logo-header-image {
  width: 16rem;
  height: 6rem;
}

.logo-header-name {
  font-family: cursive;
  font-weight: 600;
  font-size: 28px;
  color: #000;
  text-align: center; /* Để căn giữa theo chiều ngang */
}
