.book-container{
    padding: 2rem 0rem 2rem 0rem;
}

.book-container-header{
    text-align: center;
    align-items: center;
    justify-content: center;
    font:
        bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script',
        fantasy;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
}