.button-content-2 {
  margin-right: 30px;
}
.pick {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.icons-wrap {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.icon-wrap {
  font-size: 25px;
}
