.container-manageemp {
    width: 100%;
    height: auto;
    display: block;
}
.container-manageemp-employee{
    display: flex;
    width: 100%;
    padding: 2rem;
}
.container-manageemp-employee-infor {
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    display: block;
    width: 20vw;
    text-align: center;
}
