@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css");
.content-3{
    
    padding: 20px;
    width: 500px;
    text-align: center;
}

.card-content {
    background-color: rgb(242, 242, 244);
    padding: 10px;
}
.content-3-cover {
  margin: 10px;
   
}
.icon {
    color: orange;
    width: 50px;
    height: 50px;
}
.card-title{
    font-family: 'Nunito', sans-serif;
}
.card-box h4{
    color: orange;
    font-size: 50px;
}
.card-box p{
    font-size: 25px;
}

.mbr-text{
    font-family: 'Nunito', sans-serif;
}
.item {
    display: flex;
}
