.employee-detail-page {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.employee-detail-page h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.employee-card {
  width: 300px;
  height: 610px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.employee-card .avatar-profile-card {
  display: flex;
  justify-content: center;
  margin-top: -110px;
  margin-bottom: 40px;
}

.profile-text {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.profile-text strong {
  flex-shrink: 0;
  margin-right: 10px;
  color: red;
  font-weight: bold;
}
.color-background {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  height: 140px;
  width: 305px;
  background-color: #dad7ea;
  color: #534b81;
  font-size: 25px;
  padding: 50px;
  font-style: normal;
}
.editButton {
  margin-top: 20px;
  bottom: -20px;
  color: var(--fonts-primary-variant, #534b81);
  background-color: #dad7ea;
  justify-content: center;
  border-radius: 5%;
  align-items: center;
  font-style: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.editButton:hover {
  transform: scale(1.05);
}
.add-shift-button {
  color: var(--fonts-primary-variant, #534b81);
  background-color: #dad7ea;
  justify-content: center;
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  font-style: bold;
}
.add-shift-button:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.green-status {
  background-color: green;
  color: white;
  cursor: pointer;
}

.gray-status {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  pointer-events: none;
}
.appointment-card {
  background-color: #f5f4fd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 150px;
  margin-right: 13px;
  display: inline-flex;
  border-radius: 10%;
  margin: 5px;
  margin-bottom: 10px;
  color: var(--neutral-800, #534b81);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.appointment-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.appointment-card.total-appointments {
  background-color: #a6c0fe;
}

.appointment-card.completed-appointments {
  background-color: #b4f0a6;
}

.appointment-card.canceled-appointments {
  background-color: #ffb3d9;
}
.appointment-card-number {
  color: var(--neutral-800, #262626);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
}
.appointment-card-in {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  flex-grow: 1;
}
.card-content-1 {
  display: flex;
}
.icon-detail-employee {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}
.total-appointments .icon-detail-employee {
  color: blue;
}
.completed-appointments .icon-detail-employee {
  color: green;
}
.canceled-appointments .icon-detail-employee {
  color: red;
}
.shift {
  width: 100%;
}
.appointment-tab {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5%;
  height: 450px;
}
.status.completed {
  color: green;
  font-weight: bold;
}
.status.canceled {
  color: red;
  font-weight: bold;
}
.status.pending {
  color: blue;
  font-weight: bold;
}
.status-button .icon-status {
  margin-right: 5px;
}
.icon-status {
  font-size: 10px;
  align-items: flex-start;
  margin-right: 10px;
}
.price-info {
  color: gold;
}
.price-text {
  font-weight: bold;
}
.status-icon {
  color: blue;
}
.block {
  display: flex;
  flex-direction: row;
}
.block-1 {
  margin: auto;
  margin-right: 10px;
}
.block-2 {
  margin: auto;
  margin-left: 20px;
}
