.footer {
    width: 100%;
    display: flex;
    height: auto;
    padding: 3rem 1rem;
    background-image: linear-gradient( rgb(221, 221, 142), rgb(208, 230, 170), rgb(218, 228, 223));
}
.footer-logo {
    display: block;
    width: 25%;
    text-align: center;
}
.footer-logo-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.footer-logo-name {
    width: 100%;
    height: auto;
}
.footer-information {
    display: block;
    width: 25%;
    height: auto;
}
.footer-information-name {
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.footer-information-content {
    display: block;
    line-height: 2.5rem;
}
.footer-information-content a{
    color: black;
}
.icon-footer{
    color: orange;
    margin-right: 10px;
}
.footer-information-name span{
    font-family: cursive;
    font-size: 20px;
    color: rgb(160, 107, 8);
}
.copy-right{
    background-color: orange;
    text-align: center;
    padding: 20px;
}
.copy-right-content p {
    font-size: 20px;
}