.title {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page {
    text-align: center;
    margin: 10px;

}

.board {
    width: 750px;
    background-color: #dad7ea;
    display: inline-block;
    border-radius: 5%;
    height: 800px;
}

.CardProfile {
    border-radius: 5%;
}

.Treatments {
    margin-top: 16px;
    border-radius: 5%;
}

.infomation {
    display: flex;
    flex-direction: column;
}

.treatment-item {
    width: 606px;
    height: 68px;
    flex-shrink: 0;
    background-color: #dbd3d3;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;

}