
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
/* Màu cho status 1 (trắng) */
input[type="radio"][data-status="1"] + label {
	background-color: white;
	color: black; /* Màu chữ cho status 1 */
  }
  
  /* Màu cho status 2 (xám) */
  input[type="radio"][data-status="2"] + label {
	background-color: gray;
	color: white; /* Màu chữ cho status 2 */
  }
  

.checkbox-slots:checked + label,
.checkbox-slots:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 150px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-slots:not(:checked) + label{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-slots:checked + label{
	background-image: linear-gradient(to right, red , yellow);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-slots:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	
}









