@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400&display=swap");
/* --------------------------- Colors ------------------------- */
/* ---------------------- Width & Heights --------------------- */
/* --------------------------- Mixins -------------------------- */
/* ------------------------ Functions ------------------------ */
/* ------------------------ Reset CSS ----------------------- */
*,


/* --------------------------- CSS -------------------------- */


.container_appointment_customer {
  border-radius: 10px;
}
.appointment_container {
  display: flex;
  justify-content: center;
}
.Pagination {
  text-align: center;
}

.container_appointment_customer .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: #dff6ff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239ddff9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.frame {
  position: relative;
  height: 300px;
  width: 300px;
  background: linear-gradient(to bottom, black 0%, #0061a8 100%);
  border-radius: 100%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4), 0 0 0 8px #dff6ff,
    0 0 0 10px #0061a8;
  overflow: hidden;
}
.frame .cloud {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: #e3e3e3;
  border-radius: 100%;
}
.frame .cloud::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -12px;
  width: 30px;
  height: 25px;
  background-color: #e3e3e3;
  border-radius: 100% 0 0 100%;
}
.frame .cloud::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -12px;
  width: 30px;
  height: 25px;
  background-color: #e3e3e3;
  border-radius: 0 100% 100% 0;
}
.frame .cloud_top {
  top: 40px;
  left: -40px;
}
.frame .cloud_bottom {
  top: 80px;
  left: -40px;
}
.frame .cloud_slow {
  animation: moveCloud 60s linear 2s infinite;
}
.frame .cloud_fast {
  animation: moveCloud 30s linear 0s infinite;
}
.frame .moon {
  position: absolute;
  top: 40px;
  right: 80px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #f5edc2;
  box-shadow: 0 0 10px 4px rgba(245, 237, 194, 0.4);
  background-image: radial-gradient(
      circle at 40% 80%,
      #ddc997 10%,
      transparent 0
    ),
    radial-gradient(circle at 55% 70%, #ddc997 5%, transparent 0),
    radial-gradient(circle at 58% 85%, #ddc997 6%, transparent 0),
    radial-gradient(circle at 80% 40%, #ddc997 12%, transparent 0),
    radial-gradient(circle at 87% 58%, #ddc997 4%, transparent 0);
}
.frame .mountain {
  position: absolute;
  height: 200px;
  width: 300px;
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.frame .mountain_light {
  background-color: #ffffff;
}
.frame .mountain_dark {
  background-color: #9aceff;
}
.frame .mountain_left {
  bottom: -150px;
  left: -40px;
}
.frame .mountain_right {
  bottom: -120px;
  right: -80px;
}
.frame .mountain_top {
  bottom: -110px;
  left: 0;
}
.frame .tree {
  position: absolute;
}
.frame .tree::before,
.frame .tree::after {
  content: "";
  position: absolute;
}
.frame .tree_dark-green {
  border: 20px solid transparent;
  border-bottom: 20px solid #228b22;
}
.frame .tree_dark-green::before,
.frame .tree_dark-green::after {
  border: 20px solid transparent;
  border-bottom: 20px solid #228b22;
}
.frame .tree_light-green {
  border: 30px solid transparent;
  border-bottom: 30px solid #33ad39;
}
.frame .tree_light-green::before,
.frame .tree_light-green::after {
  border: 30px solid transparent;
  border-bottom: 30px solid #33ad39;
}
.frame .tree_middle {
  top: 145px;
  left: 100px;
}
.frame .tree_middle::before {
  top: -5px;
  right: -20px;
}
.frame .tree_middle::after {
  top: 10px;
  right: -20px;
}
.frame .tree_left {
  top: 160px;
  left: 30px;
}
.frame .tree_left::before {
  top: -10px;
  right: -30px;
}
.frame .tree_left::after {
  top: 10px;
  right: -30px;
}
.frame .tree_right {
  top: 155px;
  right: 30px;
}
.frame .tree_right::before {
  top: -5px;
  right: -20px;
}
.frame .tree_right::after {
  top: 10px;
  right: -20px;
}
.calendar {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative;
  width: 400px;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.calendar .header {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calendar .header_title {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  font-family: "Kaushan Script", cursive;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 1;
  color: #0061a8;
}
.calendar .header_subtitle {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #919191;
}
.calendar .days-of-week {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 18px;
}
.calendar .days-of-week .day-name {
  color: #0061a8;
}
.calendar .days {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-column-gap: 18px;
  grid-row-gap: 5px;
}
.day-number_current {
  color: red;
}
.calendar .days .day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  border-radius: 100%;
  background-color: #f0fbfe;
  transition: all 0.4s ease-in-out;
}
.calendar .days .day-number:hover {
  border: 2px solid #9aceff;
  transform: scale(1.2);
  background-color: transparent;
}
.calendar .days .day-number_disabled {
  pointer-events: none;
  color: #c1c1c1;
  background: repeating-linear-gradient(
    45deg,
    #f0fbfe,
    #f0fbfe 5px,
    #ffffff 5px,
    #ffffff 10px
  );
}
.calendar .days .day-number_has_appointment::after {
  content: "\2022"; /* Unicode bullet character */
  display: block;
  font-size: 10px; /* Adjust the font size as needed */
  margin-top: 2px; /* Adjust the vertical spacing as needed */
  color: #228b22; /* Color of the bullet */
}
.appointment-grid {
  min-height: 400px;
}
.appointment-grid .appointment-item {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 500px;
}
.appointment-grid .no-data img {
  height: 400px;
  width: 500px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.appointment-grid .appointment-item .divider {
  width: 10px;
  background-color: #228b22;
  margin: 0 20px;
  min-height: 50px;
}
.appointment-grid .appointment-item .contexts {
  display: flex;
}
.appointment-grid .appointment-item .contexts .persons .id-cell h1 {
  font-size: 20px;
}
.appointment-grid .appointment-item .contexts .persons .id-cell p {
  font-size: 20px;
}
.appointment-grid .appointment-item .contexts .persons .employee-id-cell h1 {
  font-size: 20px;
}
.appointment-grid .appointment-item .contexts .status-cell img {
  height: 45px;
}

.appointment-grid .appointment-item .cell {
  margin-right: 20px;
}
.appointment-grid .appointment-item .cell .start-cell h1 {
  font-size: 50px;
}
.appointment-grid .appointment-item .cell .am-pm-cell h1 {
  font-size: 40px;
  float: right;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.popup-container {
  background-color: #dff6ff;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
@keyframes moveStars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1560px) translateX(-1560px);
  }
}
@keyframes moveCloud {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(350px);
  }
}
