.booking-spa{
    background-image: url('../../../images/cute-little-dog-with-hat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  
}

.booking-spa-title{
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
}

/*.booking-spa-form{
    background-image: url('../../../images/beautiful-pet-portrait-dog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}*/

.form-content > p{
    font-size: medium;
    font-weight: 500;
}

.form-content > h3{
    font-size: x-large;
    font-weight: bold;
}

.booking-spa-form-content{
    margin: 5rem;
    padding: 3rem;
    width: 50%;
    background: linear-gradient(#f5d681, #8dd9ec);
    border-radius: 20px;
}

/*background-color: rgb(245, 214, 129);*/
.booking-spa-form-title{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}



#services, #spa-time{
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0.5rem 0rem 1rem 0rem;

}

#note {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
}

.form-btn{
    margin-top: 1rem;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
  
.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}
  
.styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.important{
    color: red;
}