/* EmployeeListPage.css */

.list-container {
    padding: 20px;
  }
  
  .list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .addButton {
    border-color: #1890ff;
    margin-bottom: 15px;
    float: right;
  }
  
  
  .ant-table-thead > tr > th {
    background-color: #e1dbdb;
    text-align: center;
    border-radius: 5px;
  }
  
  
  .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; /* Khoảng cách giữa các nút nếu cần */
  }

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  