@tailwind base;
@tailwind components;
@tailwind utilities;
.page-entering {
  background-color: rgba(255, 255, 255, 0.1);
}
.page-entering,
.page-exiting,
.page-entered {
  opacity: 0;
}

.page-entered {
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}
