@import '~antd/dist/antd.css';

/* .ant-slider-track {
  background-color: #fff;
}

.ant-slider:hover .ant-slider-track {
  background-color: #fff;
}

.ant-slider-rail {
  background-color: #8c8c8c;
}

.ant-slider:hover .ant-slider-rail {
  background-color: #8c8c8c;
}

.ant-slider-handle {
  border: none;
  background-color: var(--color-company-theme);
}

.ant-input:hover {
  border-color: var(--color-company-theme);
}

.ant-input:focus {
  box-shadow: none;
  border-color: var(--color-company-theme);
} */
