.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid #e0e0e0;
  padding: 0rem 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-toggler-icon-sm {
  font-size: 16px; /* Điều chỉnh kích thước phù hợp */
  /* Thêm bất kỳ thuộc tính CSS khác để tùy chỉnh biểu tượng */
}

.collapse {
  width: 100%;
}
.nav-logo {
  width: 85%;
}
.nav-item {
  font-size: 16px;
  margin: 0 1vw 0 1vw;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
}
.nav-i-booking {
  font-size: 16px;
  margin: 0 1vw 0 1vw;
  margin-top: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
}
.nav-log {
  margin-top: 10px;
}

/* Định dạng các liên kết trong navbar */
.nav-link {
  text-decoration: none;
  color: #333; /* Màu chữ */
  transition: color 0.3s ease-in-out;
}
/* Thêm padding cho các liên kết trong menu */

/* Định dạng màu chữ khi hover */
.nav-item:hover .nav-link {
  color: #ff4500; /* Màu chữ khi hover */
}

/* Định dạng dropdown menu */
/* Nav.css */

/* Định dạng dropdown menu */
.ant-dropdown-menu {
  background-color: #fff; /* Màu nền dropdown */
  border: 1px solid #ccc; /* Viền dropdown */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng dropdown */
  max-height: 300px; /* Độ cao tối đa của dropdown menu */
}

/* Định dạng màu chữ trong dropdown menu và loại bỏ dấu gạch chân */
.ant-dropdown-menu-item a {
  color: #333; /* Màu chữ */
  text-decoration: none; /* Loại bỏ dấu gạch chân */
  padding: 10px 20px; /* Kích thước của mỗi mục trong dropdown menu */
  font-size: 16px; /* Kích thước chữ */
  display: block; /* Hiển thị các mục theo dạng block để có thể tùy chỉnh kích thước */
}

/* Định dạng màu chữ khi hover trong dropdown menu */
.ant-dropdown-menu-item a:hover {
  color: #ff4500; /* Màu chữ khi hover */
}

/* Định dạng viền màu cam cho .nav-link-booking */
/* Định dạng viền màu cam cho .nav-link-booking */
/* Định dạng viền màu cam cho .nav-link-booking */
.nav-booking {
  margin-bottom: 100px;
  box-shadow: 0 0 0 2px #ed6436 inset !important;
  text-decoration: none;
  border-radius: 25px;
  color: #181818 !important;
  padding: 8px 20px; /* Điều chỉnh khoảng cách giữa viền và chữ */
  overflow: hidden;
  border-top-left-radius: 0px;
  text-transform: uppercase;
}

/* Định dạng khi hover */
.nav-booking:hover {
  text-decoration: none;
  background-color: #ed6436;
  color: #ffffff !important;
  transform: scale(1.1);
}
/* Tùy chỉnh dropdown menu */

.nav-logo-login {
  display: flex;
  align-items: center; /* Căn chỉnh theo chiều dọc */
  justify-content: space-between; /* Để logo và LoginRegister nằm ở hai đầu */
  flex-grow: 1; /* Để logo và LoginRegister mở rộng để lấp đầy không gian còn trống */
}
