.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid #e0e0e0;
  padding: 0rem 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-toggler-icon-sm {
  font-size: 16px;
}
.collapse {
  margin-left: 130px;
  width: 100%;
}
.nav-logo {
  width: 85%;
}
.nav-item {
  font-size: 16px;
  margin: 0 1vw 0 1vw;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
}
.nav-i-booking {
  font-size: 16px;
  margin: 0 1vw 0 1vw;
  margin-top: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
}
.nav-log {
  margin-top: 10px;
}
.nav-link {
  text-decoration: none;
  color: #333; /* Màu chữ */
  transition: color 0.3s ease-in-out;
}
.nav-item:hover .nav-link {
  color: #ec3216;
}
.ant-dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 300px;
}
.ant-dropdown-menu-item a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  display: block;
}
.ant-dropdown-menu-item a:hover {
  color: #ec3216;
}
.nav-booking {
  margin-bottom: 100px;
  box-shadow: 0 0 0 2px #ec3216 inset !important;
  text-decoration: none;
  border-radius: 25px;
  color: #181818 !important;
  padding: 8px 20px;
  overflow: hidden;
  border-top-left-radius: 0px;
  text-transform: uppercase;
}
.nav-booking:hover {
  text-decoration: none;
  background-color: #ec3216;
  color: #ffffff !important;
  transform: scale(1.1);
}
.nav-logo-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
