/* AddShiftPage.css */



.shift-card {
  width: 400px; /* Độ rộng của Card */
  margin: 0 auto; /* Để căn giữa theo chiều ngang */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng đổ */
}

/* Ensure that Form.Item fields have sufficient width */

.button {
  width: 300px;
}


/* Add more CSS styles as needed */
